<h1>Registration</h1>

<form action="/registration" method="post">
  <input type="text" placeholder="Name">
  <input type="password" placeholder="Password">
  <input type="submit">
</form>

<a href="/">Back</a>